[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langdetect = "*"
bs4 = "*"
pandas = "*"
requests = "*"
aiohttp = "*"
nltk = "*"
scikit-learn = "*"
openai = "*"

[dev-packages]

[requires]
python_version = "3.10"
